# Django
*.pyc
__pycache__/
db.sqlite3
*.sqlite3

# Environment
.env
*.env

venv/

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/0001_initial.py

# Static and media
/staticfiles/
/media/

# Logs
*.log